.change-all-traffic-lights {
    background: royalblue;
    border-radius: 50px;
    bottom: 50px;
    color: white;
    font-size: 40px;
    height: 70px;
    position: fixed;
    right: 90px;
    width: 70px;
    z-index: 2;
}